@model List<FlightSearchEngine.Models.FlightResult>



@if (Model == null || Model.Count == 0)
{
    <h2>No Flights Found!</h2>
}
else
{
    <h2>Available Flights</h2>

    <table border="1">
        <tr>
            <th>FlightId</th>
            <th>FlightName</th>
            <th>TotalCost</th>
        </tr>

        @foreach(var flight in Model)
        {
            <tr>
                <td>@flight.FlightId</td>
                <td>@flight.FlightName</td>
                <td>@flight.TotalCost</td>
            </tr>
        }
    </table>
}