@model StudentCRUD.Models.Student

<h2>Create Student</h2>

<form method="post">

    Name:
    <input asp-for="Name" />
    <br>

    Email:
    <input asp-for="Email" />
    <br>

    Age:
    <input asp-for="Age" />
    <br>

    <button type="submit">Save</button>

</form>